https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz #en-core-web-md==2.3.1
allennlp
attrs
blessings
blis
boto3
botocore
spacy
cached-property
catalogue
certifi
chardet
click
cycler
cymem
Cython
dataclasses
datasets
dill
editdistance
filelock
fsspec
gpustat
huggingface-hub
idna
importlib-metadata
iniconfig
jieba
jmespath
joblib
jsonlines
jsonnet
jsonpickle
kiwisolver
lmdb
marisa-trie
matplotlib
more-itertools
multiprocess
murmurhash
mwparserfromhell
nltk
numpy
nvidia-ml-py3
overrides
packaging
pandas
Pillow
plac
pluggy
preshed
protobuf
psutil
py
pyarrow
pyparsing
pytest
python-dateutil
pytz
regex
requests
s3transfer
sacremoses
scikit-learn
scipy
sentencepiece
six
sklearn
srsly
tensorboardX
thinc
threadpoolctl
tokenizers
toml
torch
torchvision
tqdm
transformers
typing-extensions
urllib3
wasabi
wikipedia2vec
wmd
xxhash
zipp
