allennlp
allennlp-models
attrs
blis
boto3
botocore
catalogue
certifi
chardet
click
conllu
cycler
cymem
datasets
dill
filelock
fsspec
ftfy
fuzzywuzzy
h5py
huggingface-hub
idna
iniconfig
jieba
jmespath
joblib
jsonlines
jsonnet
jsonpickle
kiwisolver
lmdb
marisa-trie
matplotlib
more-itertools
multiprocess
murmurhash
mwparserfromhell
nltk
numpy
overrides
packaging
pandas
pathos
Pillow
plac
pluggy
pox
ppft
preshed
protobuf
py
py-rouge
pyarrow
pyparsing
pytest
python-dateutil
python-Levenshtein
pytz
regex
requests
s3transfer
sacremoses
scikit-learn
scipy
sentencepiece
six
spacy
srsly
tensorboardX
thinc
threadpoolctl
tokenizers
toml
torch
torchvision
tqdm
transformers
typing-extensions
urllib3
wasabi
wcwidth
wikipedia2vec
word2number
xxhash
